body {
	margin: 0px;
	background-color:black;
	
	display:grid;

}
.card-group {
	position: absolute;
	transition: transform 400ms ease;
  }
.card-group,
.card {
	aspect-ratio: 5 / 7;
	
}

@keyframes rotate {
	from {
	  rotate: 0deg;
	}
	
	50% {
	  scale: 1 1.5;
	}
	
	to {
	  rotate: 360deg;
	}
  }
  #blur {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 2;
	backdrop-filter: blur(12vmax);
	pointer-events: none;
  }
#blob {
	pointer-events: none;
	background-color: white;
	height: 25vmax;
	aspect-ratio: 1;
	position: fixed;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	border-radius: 50%;
	background: linear-gradient(to right, aquamarine, mediumpurple);
	animation: rotate 20s infinite;
	opacity: 0.8;
  }
.cover {
	position:absolute;
	z-index: 4;
	aspect-ratio: 5 / 7;
	background-image: url("photos/cover.jpeg");
	width:30vmin;
	 left:43vw;
	 top:30vh;
	 background-size: cover;
	 border-radius: 5px;
	}
.card {
	left:43vw;
	 top:30vh;
	z-index: 3;
	width: 30vmin;
	 background-size: cover;
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 1vmin;
	position:absolute; 
	transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
}

.card-group:hover > .card {  
	box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
}
.card-group:hover > .cover {
	transition: opacity 0.5s ease-out;
    opacity: 0; 
	z-index:-1;
}
.card:nth-child(1) {
	background-image: url("photos/autor.png");
}

.card:nth-child(2) {
	background-image: url("photos/harta.png");
}
.card:nth-child(3) {
	background-image: url("photos/personaje.png");
}
.card:nth-child(4) {
	background-image: url("photos/artaceaiului.png");
}
.card:nth-child(5) {
	background-image: url("photos/citate.png");
}
.card:nth-child(6) {
	background-image: url("photos/opinie.png");
}
.card-group:hover > .card:nth-child(1) {
	transform: translate(-135%, 24%) rotate(-32deg);
}

.card-group:hover > .card:nth-child(2) {
	transform: translate(-75%, 16%) rotate(-24deg);
}

.card-group:hover > .card:nth-child(3) {
	transform: translate(-25%, 8%) rotate(-8deg);
}

.card-group:hover > .card:nth-child(4) {
	transform: translate(25%, 8%) rotate(8deg);
}

.card-group:hover > .card:nth-child(5) {
	transform: translate(75%, 16%) rotate(24deg);
}

.card-group:hover > .card:nth-child(6) {
	transform: translate(135%, 24%) rotate(32deg);
}